*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: calc(100% / 3 - 20px);
}

.product-card img {
    width: 100px;
    height: 100px;
}